# Compilados Python
__pycache__/
*.pyc
*.pyo

# Arquivos de build do PyInstaller
/build/
/dist/
*.spec

# Arquivos gerados pelo seu aplicativo
output/
*.xlsx
*.pdf
mapa.png
last_desenhista.txt

# Arquivos do macOS
.DS_Store
